@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  /* flex-direction: column;  */
  /* margin: auto; */
}

.main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: min(90%, 1400px);
  /* height: 100px; */
}

