@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */
:root {
  /* Colors */
  --body-bg: 0 0% 12%;
  /* --navbar-bg-color: 360 23% 5%;   */
  --navbar-bg-color: 216 26% 7%;      /* RGB: 13, 17, 22 Hex: #040506*/
  --container-bg-color: 210 17% 2%;
  --text-color: 0 0% 80%;
  --line: 0 0% 100%;

  --gold-gradient: 295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%;


  /* font-sizes */
  --fs-500: 2.5rem;
  --fs-400: 2rem;
  --fs-300: 1.6rem;
  --fs-200: 1.2rem;
  --fs-100: 1rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Desktops, large screens */
@media (max-width: 1124px) {
  :root {
    --fs-500: 2rem;
    --fs-400: 1.8rem;
    --fs-300: 1.6rem;
    --fs-200: 1.2rem;
    --fs-100: 1rem; 
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  :root {
    --fs-500: 2.5rem;
    --fs-400: 2.25rem;
    --fs-300: 2rem;
    --fs-200: 1.2rem;
    --fs-100: 1rem;  
  }
}

/* Mobile devices */
@media (max-width: 320px) {
  :root {
    --fs-500: 2rem;
    --fs-400: 1.75rem;
    --fs-300: 1.5rem;
    --fs-200: 1.1rem;
    --fs-100: 1rem;  
  }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--body-bg));
  /* background: yellow; */
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  /* font-family: "Roboto Mono"; */
  font-size: 16px;
  /* height: 100vh; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Start: Utility Classes */
.title {
  margin-top: clamp(1rem, 3vw, 5.125rem);
  margin-bottom: clamp(1rem, 1.5vw, 3.125rem);
  color: hsl(var(--text-color));
  color: #fcfcfc;
  letter-spacing: .2rem;
  font-weight: bold;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  text-shadow: 0px 0px 60px #0079f2be;
  padding: 1rem;
  text-align: center;
}

.title span {
  border-block-end: 1px solid;
  padding: 8px;
}


/* End: Utility Classes */


/* My Portfolio 3.0 */
.main-container {
  background-color: hsl(var(--container-bg-color));
  width: min(90%, 1340px);
  height: 4000px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 1);
}

/* ========== Menu Options ========== */

/* ===== Start: Navigationbar ===== */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: min(90%, 83.75rem);
  height: 5.25rem;
  padding-inline: 5rem;
  margin: 0 auto;
  background-color: hsl(var(--navbar-bg-color) / .25);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid hsl(var(--line) / .2);
  z-index: 200;
  transition: all .3s ease;
}

.navbar .logo {
  padding-inline: 1rem;
  text-align: center;
  margin: auto 0;
}

.navbar .logo a {
  font-size: 1.6rem;
  text-decoration: none;
  color: hsl(var(--text-color));
}

.navbar .nav {
  display: flex;
  margin: auto 0;
}

.navbar .nav li {
  padding-inline: 1rem;
}

.navbar .nav li a {
  text-decoration: none;
  color: hsl(var(--text-color));
  padding-bottom: 0.5rem;
  position: relative;
}

.navbar .nav li a:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #BF841A , rgba(0, 0, 0, 0));
}
/* ===== End: Navigationbar ===== */


/* ===== Start: Navigation Toggler ===== */
.nav-toggler {
  border: 1px solid hsl(var(--line) / .2);
  height: 40px;
  width: 40px;
  position: fixed;
  top: 25px;
  border-radius: 4px;
  background-color: hsl(var(--navbar-bg-color) / .25);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: all .3s ease;
}

.nav-toggler span {
  height: 2px;
  width: 18px;
  background: linear-gradient(var(--gold-gradient));
  display: inline-block;
  position: relative;

}

.nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: linear-gradient(var(--gold-gradient));
  position: absolute;
  top: -6px;
  left: 0;
}

.nav-toggler.open span::before {
  transform: rotate(45deg); 
  top: 0;
 }

.nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: linear-gradient(var(--gold-gradient));
  position: absolute;
  top: 6px;
  left: 0;
}

.nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
/* ===== End: Navigation Toggler ===== */


/* ===== Start: Hero/Home Section ===== */
.hero {
  margin-top: 5.25rem; 
  position: relative;
  /* overflow: hidden; */
}

.shine-hero-block {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0px;
  left: -10%;
  width: 50%;
  height: 100%;
  /* z-index: 0; */
}

.hero .squares_bg {
  /* border: 1px solid red; */
  width: 35%;
  position: absolute;
  top: 0;
  right: 0; 
  padding-right: 1rem;
  padding-top: 1rem;
}

.hero .sunglasses_bg {
  position: relative;
  height: 100%;
}

.hero .sunglasses_bg img {
  /* border: 1px solid blue; */
  width: 100%;  
  height: 100%;
}

.hero-block {
  /* border: 1px solid yellow; */
  width: 45%;
  position: absolute;
  top: 65%;
  left: 4%;
  /* padding-inline: 2rem; */
  transform: translateY(-50%);
  color: hsl(var(--text-color));
  z-index: 1;
}

.hero-name {
  line-height: 1;
  font-size: clamp(1.3rem, 3vw, 3rem);
  margin-bottom: 1vh;
  background: -webkit-linear-gradient(var(--gold-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.hero-block p {
  line-height: 1.5;
  /* font-size: clamp(16px, 1.5vw, 1.3rem); */
  margin-bottom: 1vh;
  letter-spacing: 0.0625rem;
}
/* ===== End: Hero/Home Section ===== */


/* ===== Start: About Me Section  ===== */


.about-me .whoami {
  color: hsl(var(--text-color));
  /* font-size: clamp(0.8125rem, 1.5vw, 1rem); */
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  /* text-align: center; */
  width: 95%;
  margin: auto;
  padding: 1rem;
  margin-bottom: clamp(3rem, 2vw, 3.125rem);
}
/* ===== End: About Me Section  ===== */


/* ===== Start: My Services Section  ===== */
.my-services {
  border-top: 1px solid hsl(var(--line) / .2);
  border-bottom: 1px solid hsl(var(--line) / .2);
  background-color: hsl(var(--navbar-bg-color) / .25);
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(2rem, 2vw, 3.125rem);
}

.service-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: clamp(2rem, 4vw, 4.125rem);
}

.service-block {
  color: hsl(var(--text-color));
  width: 24rem;
}

.service-description {
  color: hsl(var(--text-color));
  padding: 1rem;
  width: 80%;
  margin: 2rem 2rem 0.5rem 2rem;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
}
/* ===== End: My Services Section  ===== */


/* ===== Start: My-Profile Section  ===== */

.my-profile {
  /* border: 1px solid rgba(0, 255, 0, 1); */
  /* border-width: thin; */
  background-color: hsl(var(--navbar-bg-color) / .25);
  position: relative;
  /* margin-top: 130px; */
  margin-top: 100px;
  /* height: 10rem; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


  /* border-inline-start: 1px solid red; */
  /* border-block-start: 1px solid; */

  /* border-image-source: radial-gradient( */
  /* circle at top left,  */
  /* #BF841A, transparent 50% */
  /* ); */

  /* border: 1px solid red; */


}

.my-profile .shine-my-profile {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0px;
  left: -10%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.profile-image {
  /* border: 1px solid rgba(255, 0, 0, 0.5); */
  width: clamp(300px, 40vw, 400px);
  margin: 0 1rem;
  margin-top: 15rem;
  position: relative;
  padding: 3px;

}

  /* 
 border-inline-start: 1px solid;
  border-block-start: 1px solid;
  border-image-source: radial-gradient(
  circle at top left, 
  #FFE195, transparent 50%
  );
*/


.profile-image img {
  /* border: 1px solid green; */
  position: absolute;
  bottom: 0; 
}

.profile-offer {
  width: clamp(400px, 50vw, 500px);
  margin-bottom: 2rem;
}

.profile-offer .profile-header {
  background: -webkit-linear-gradient(var(--gold-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.4rem, 2.7vw, 2.7rem);
  padding-top: 2.5rem;
}

.profile-offer .profile-text {
  color: hsl(var(--text-color));
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 1.5rem;
  font-size: clamp(1.3rem, 1.5vw, 1.3rem);
  line-height: 1.8;
}
/* ===== End: My-Profile Section  ===== */

/* ===== Start: My-Portfolio Section  ===== */
.my-portfolio {
  /* border: 1px solid red; */
  padding-bottom: 32px;
}

.item-container {
  /* border: 1px solid blue; */
  border-top: 1px solid hsl(var(--line) / .2);
  border-bottom: 1px solid hsl(var(--line) / .2);
  background-color: hsl(var(--navbar-bg-color) / .25);
  position: relative;  
  width: 100%;
  height: 580px;
  top: -5rem;
}

.goldenBox-container {
  /* border: 1px solid white; */
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.goldenBox {
  /* border: 1px solid red; */
  width: 150px;
  height: 100%;  
  padding: 26px;
  margin-bottom: 0rem;
  background: linear-gradient(130.88deg, rgba(244, 205, 104, 0.2) 0%, #0d0d0d00 30.71%);
  background-blend-mode: lighten;
  color: honeydew;
  border-inline-start: 1px solid;
  border-block-start: 1px solid;
  border-image-source: radial-gradient(
  circle at top left, 
  #BF841A, transparent 90%);
  border-image-slice: 1;
}

.item-container .item {
  /* border: 1px solid yellow; */
  width: 250px;
  height: 350px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: all 300ms ease-in-out;
  
  z-index: -1;
  opacity: 0;
}

.item-container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform .3s ease;

}

.item-container .item.active {
  /* border: 1px solid yellow; */
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  opacity: 1;
  z-index: 99;
  width: 270px;
  height: 370px;
}

.item-container .item.active:hover img {
  transform: scale(1.1);
}

.item-container .item.prev {
  z-index: 2;
  opacity: 0.45;
  position: absolute;
  top: 50%;
  transform: translate(-115%, -30%);
}

.item-container .item.next {
  z-index: 2;
  opacity: 0.45;
  transform: translate(15%, -30%);
}


.item-container .button-container {
  /* border: 1px solid red; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 295px;
  z-index: 100;
}

.item-container .button-container .button {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.item-container .button-container .button:hover {
  opacity: 1;
}

.item-container .button-container .button::before {  
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

/* ===== End: My-Portfolio Section  ===== */

/* ===== Start: Get-In-Touch Section  ===== */
.contact-container {
  border-top: 1px solid hsl(var(--line) / .2);
  border-bottom: 1px solid hsl(var(--line) / .2);
  background-color: hsl(var(--navbar-bg-color) / .25);
  position: relative;
  height: 370px;
  margin-top: 13rem;
}

.contact-motivation {
  /* border: 1px solid green; */
  color: hsl(var(--text-color));
  position: absolute;
  top: -160px;
  left: 25%;
  transform: translate(-50%, 0%);
  width: 365px;
  padding: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.contact-container span {
  padding-left: 16px;
  background: -webkit-linear-gradient(var(--gold-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-connection {
  /* border: 1px solid blue; */
  padding-left: 16px;
  color: hsl(var(--text-color));
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 365px;
  padding: 16px;
  line-height: 2.5;
  letter-spacing: 0.1em;
}

.contact-formular {
  /* border: 1px solid red; */
  border-radius: 4px;
  padding-top: .5rem;
  background-color: hsl(var(--navbar-bg-color) );
  box-shadow: 0px 1px 15px rgba(255, 229, 163, .35);
  position: absolute;
  right: calc(25% - 365px);
  bottom: -20px;
  transform: translateX(-50%);
  width: 365px;
  height: 550px;
  
}

.inputBox {
  /* border: 1px solid black; */
  margin: 1.2rem;
}

.inputBox input, textarea {
  width: 100%;
  padding: 10px 15px;
  padding-top: 25px;
  border: 0;
  border-bottom: 1px solid hsl(var(--line) / .25);
  background-color: hsl(var(--navbar-bg-color));  
  color: hsl(var(--text-color));
  outline: none;
  font-size: clamp(0.8125rem, 1.5vw, 1rem);
  font-weight: 500;
  letter-spacing: 0.1em;
  transition: 0.5s;
}

.inputBox textarea {
  padding-top: 0px;
}


.inputBox span {
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  padding: 15px 30px;
  pointer-events: none;   
  font-size: 0.95em;
  background: -webkit-linear-gradient(var(--gold-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.1s;
}

.inputBox input:valid  ~ span, 
.inputBox textarea:valid ~ span,   
.inputBox input:focus  ~ span,
.inputBox textarea:focus  ~ span {    
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0px 15px;
  letter-spacing: 0.2em;
}
/* ===== End: Get-In-Touch Section  ===== */



@media (max-width: 1024px) {

  .contact-container {
    margin-top: 25rem;
  }

  .contact-formular {
    left: 50%;
  }

  .contact-motivation {
    top: -350px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .contact-connection {
    top: 500px;
    left: 50%;
    width: 365px;
  }


}

@media (max-width: 770px) {

  .nav-toggler {
    display: flex;
    left: calc(5% + 20px);
  }

  .nav-toggler.open {
    left: calc(5% + 260px)
  }

  .nav-toggler.open span {  
    background: transparent;
  } 

  .navbar {
    left: -250px;
    width: 250px;
    height: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    border-right: 1px solid hsl(var(--line) / .2);
    border-bottom: 0px;
    overflow: scroll;
  }

  .navbar.open {
    left: 5%;
  }

  .navbar .logo {
    margin-top: 2rem;
  }

  .navbar .nav {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .navbar .nav li {
    margin: 2rem 1rem;
  }

  .hero {
    margin-top: 0; 
  }
}

@media (max-width: 650px) {
  .nav-toggler {
    display: flex;
    left: 20px;
  }

  .nav-toggler.open {
    left: 260px
  }

  .navbar.open {
    left: 0;
  }

  .main-container {
    /* border: 1px solid yellow;  */
    width: min(100%, 1340px);
  }

  .hero-block {
    /* ??? */
    /* padding: 0.5rem 2rem; */
  }

  .hero .squares_bg {
    /* border: 1px solid green; */
    width: 35%;
    position: absolute;
    top: 0rem;
    right: 0rem; 
    padding-right: 1rem;
    padding-top: 1rem;
  }



  .hero .sunglasses_bg img {
    /* border: 1px solid yellow; */
    width: 100%;
    /* height: 100%; */
    height: auto;
  }
}

@media (max-width: 590px) {   /* Bis 590 herrscht der unten aufgeführte Block */

  .about-me .title {
    margin-top: calc(65% + 1rem);
  }

  .hero .hero-block {
    /* border: 1px solid red; */
    padding: 0.5rem 1rem;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 130%;
  }

  .item-container .item.prev {
    transform: translate(-90%, -30%)
  }
  
  .item-container .item.next {
    transform: translate(-10%, -30%)
  }
}

@media (max-width: 470px) {
  
  .item-container .item.prev {
    /* border: 1px solid red; */
    transform: translate(-70%, -30%)
  }
  
  .item-container .item.next {
    transform: translate(-30%, -30%)
  }
} 

@media (max-width: 380px) {
  
}



































.profile-btn {
  margin: 0.5rem 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-container a {
  /* border: 1px solid red; */
  position: relative;
  background: hsl(var(--text-color));
  color: hsl(var(--text-color));
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 5px 20px;
  transition: .5s;
}

.btn-container a:hover {
  background-image: linear-gradient(var(--gold-gradient));
  position: relative;
  color: #FFCD74;
  letter-spacing: 0.25em;
  box-shadow: 0 0 10px #FFE5A2;
}

.btn-container a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.btn-container a span {
  position: relative;
  z-index: 1;
}

.btn-container a i {
  position: absolute;
  inset: 0;
  display: block;
}

.btn-container a i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: .5s;
}

.btn-container a:hover i::before {
  width: 20px;
  left: 20%;
}

.btn-container a i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: .5s;
}

.btn-container a:hover i::after {
  width: 20px;
  left: 80%;
}












/* 

@import url(https://fonts.googleapis.com/css?family=Syncopate);

html, body { 
  height: 100%; 
  overflow: hidden; 
}
body {
  background: radial-gradient(
    circle closest-corner at center 125px,
    #222,
    black 40%
  ) no-repeat;
  text-align: center;
}
h1 {
  display: inline-block;
  padding-top: 100px;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  background: radial-gradient(
    circle farthest-corner at center center,
    #ccc,
    #333
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


*/











