@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  background-color: black;
}

/* Button Gold Shimmer */
.profile-btn {
  margin: 2.5rem 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-container a {
  /* border: 1px solid red; */
  position: relative;
  background: rgba(var(--text-color), 1);
  color: rgba(var(--text-color), 1);

  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: var(--text-size);
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 5px 20px;
  transition: 0.5s;
}

.btn-container a:hover {
  background-image: linear-gradient(var(--gold-gradient));
  position: relative;
  color: #ffcd74;
  box-shadow: 0 0 10px #ffe5a2;
}

.btn-container a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.btn-container a span {
  position: relative;
  z-index: 1;
}

.btn-container a i {
  position: absolute;
  inset: 0;
  display: block;
}

.btn-container a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.btn-container a:hover i::before {
  width: 20px;
  left: 20%;
}

.btn-container a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.btn-container a:hover i::after {
  width: 20px;
  left: 80%;
}